/** {
  outline: 1px dotted yellow;
}*/

html,body,main {
  width: 100%;
}

body {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  background-color: #7f8c8d;
  color: #ecf0f1;
  width: 100%;
  text-align: center;
  /*background-image: url('/IMG/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
}

nav li {
  margin-left: -78px;
  padding: 2%;
}

h1 {
  font-size: 3em;
  padding: 2%;
  background-color: #95a5a6;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #ecf0f1;
}
