/** {
  outline: 1px dotted yellow;
}*/

html,body,main {
  width: 100%;
}

body {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  background-image: url('/IMG/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  letter-spacing: 1px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

nav li {

  margin-left: -78px;
  padding: 2%;
}

h1 {
  font-size: 3em;
  padding: 2%;
  margin: 10px 0px 10px 0px;
  background-color: teal;
}

footer {
  background-color: dodgerblue;
  opacity: .95;
}
