.icon-menu {
  float: right;
  display: inline-block;
  font-size: 4em;
}

.content {
  color: white;
}

.header {
  height: 160px;
  background-color: dodgerblue;
}

.main-nav ul {
  display: none;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: inline-block;
}

.tab {
  visibility: visible;
  margin-top: 20px;
  padding-left: 4em;
  list-style: none;
}

.social-icons-list {
  display: inline-flex;
}

.social-icon {
  padding-left: 4em;
  list-style: none;
}

@media screen and (min-width: 700px) {
   .icon-menu {
     display: none;
   }
   .main-nav ul {
     display: flex;
     justify-content: space-around;
   }
   .tab {
     visibility: visible;
   }
   .main-nav:hover ul {
     display: flex;
     justify-content: space-around;
   }
 }
